.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}

.highlight {
  background-color: yellow;
  font-weight: bold;
}

button {
  border: 0;
  padding: 8px;
  background: #7159c1;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}

button:hover {
  background: #0e0e;
  border-radius: 5px;
}
